*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#name{
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
    height: 20vh;
    display: flex;
    background-color: #2b2d42;
    color: #edf2f4;
    text-align: center;   
}
#new-game{
    width: 50vh;
    margin: 30px;
}

#new-game {
    width: 130px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #e5e5e5;
    color: #1982c4;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    transition: all .4s;
   }
   
   #new-game:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
   }
   
   #new-game:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
   }

#new{
    display: flex;
    justify-content: center;
    align-items: center;
}

.none{
    display: none;
    background-color: #2b2d42;
}

#container{
    padding: 10vh 25vw;
    height: 80vh;
    width: 100%;
    background: #CCC9DC;
}

.btn-div{
    /* background: green; */
    text-align: center;
}

#input{
    margin: 25px 20px;
    width: 50vw;
    height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    caret-color: #f85959;
    font-size: 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-12 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-12:disabled {
  cursor: default;
}

.btn-12:-moz-focusring {
  outline: auto;
}

.btn-12 svg {
  display: block;
  vertical-align: middle;
}

.btn-12 [hidden] {
  display: none;
}

.btn-12 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-12 span {
  mix-blend-mode: difference;
}

.btn-12:after,
.btn-12:before {
  background: linear-gradient(
    90deg,
    #fff 25%,
    transparent 0,
    transparent 50%,
    #fff 0,
    #fff 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}

.btn-12:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #fff 0,
    #fff 50%,
    transparent 0,
    transparent 75%,
    #fff 0
  );
  z-index: -1;
}

.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}


h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 8vmin;
    color: green;
    font-weight: bolder;
}

#p{
    text-align: center;
    margin-top: 30px;
    font-size: 5vmin;
    color: red;
    font-weight: bolder;
}
